@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #121212;
	color: white;
	font-family: 'Poppins';

	--color-brand: #2b65f9;
}

.container {
	max-width: 1200px;
}

button {
	background-color: var(--color-brand);
	@apply py-2 px-4 rounded-xl;
}

button:hover {
	@apply bg-green-400 text-black transition;
}
